include _episode

- const episodes = mvb.articles
- const podcastsUrl = h.siteUrl("podcast.html", "http")
- const lastUpdate = h.articles.lastUpdate(episodes)
- const title = "The fabulous Gin.Show Podcast"
- const names = "Belinda Bowman and Jan Persiel"
- const email = "studio@gin.show"
- const description = "The fabulous Gin Show is a podcast about Gin. Belinda Bowman (@thepatronsaintofgin) from Australia and Jan Persiel (@ginginginde) from Germany talk about botanicals, recipes, marketing, distilleries and invite distillers from around the globe to offer some insights into the juniper based spirit. Nerdism meets entertainment. Cheers! Impressum: https://gin.show/contact.html"

doctype xml
rss(xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:creativeCommons="http://backend.userland.com/creativeCommonsRssModule" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" version="2.0")
  channel
    atom:link(href=h.siteUrl("podcast.xml") type="application/rss+xml" rel="self")
    sy:updatePeriod weekly
    sy:updateFrequency 1
    ttl 720
    title= title
    link= podcastsUrl
    generator The Gin.Show Podcast Feed Generator v1.0.0
    docs http://blogs.law.harvard.edu/tech/rss
    language en-uk
    copyright= names
    lastBuildDate= h.dateFormat.rfc822(lastUpdate)
    pubDate= h.dateFormat.rfc822(lastUpdate)
    description= description
    managingEditor #{email} (#{names})
    webMaster #{email} (#{names})
    image
      title= title
      url= h.enforceScheme("http", h.podcastImageUrl("cover", 3000))
      link= podcastsUrl
    itunes:author= names
    itunes:summary= description
    itunes:keywords gin,juniper,distillery,spirits,alcohol,ethanol,australia,germany,uk,europe,us,oceania,botanicals,distiller,show,edutainment,drinks,cocktails,food,drinks,bartender,hamburg,goldcoast
    itunes:explicit yes
    itunes:category(text="Arts")
    itunes:owner
      itunes:name= names
      itunes:email= email
    itunes:image(href=h.enforceScheme("http", h.podcastImageUrl("cover", 3000)))
    for e in episodes
      +episode(e, h)
